# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/

# Dependency directory
node_modules/

# Cypress assets
cypress/screenshots/
cypress/videos/
cypress/downloads/

# Cypress environment & secrets
cypress.env.json
.env

# Testing artifacts
cypress/logs/
coverage/
.nyc_output/
